/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
    cursor: pointer;
}

.modal-backdrop.show {
    opacity: 0.5;
    background-color: #000;
}

.modal.show.d-block {
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}